services/xsd-validator/schemas/ubl-2.1/common/UBL-CommonAggregateComponents-2.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Minimal UBL 2.1 Common Aggregate Components for Testing

  NOTE: This is a SIMPLIFIED version for development/testing.
  Production systems MUST use official OASIS UBL 2.1 schemas.
  Download from: http://docs.oasis-open.org/ubl/os-UBL-2.1/
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"
            xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
            targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"
            elementFormDefault="qualified">

  <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
              schemaLocation="UBL-CommonBasicComponents-2.1.xsd"/>

  <!-- TaxScheme -->
  <xsd:complexType name="TaxSchemeType">
    <xsd:sequence>
      <xsd:element ref="cbc:ID" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="TaxScheme" type="cac:TaxSchemeType"/>

  <!-- PartyTaxScheme -->
  <xsd:complexType name="PartyTaxSchemeType">
    <xsd:sequence>
      <xsd:element ref="cbc:CompanyID" minOccurs="0"/>
      <xsd:element ref="cac:TaxScheme" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="PartyTaxScheme" type="cac:PartyTaxSchemeType"/>

  <!-- PartyName -->
  <xsd:complexType name="PartyNameType">
    <xsd:sequence>
      <xsd:element ref="cbc:Name" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="PartyName" type="cac:PartyNameType"/>

  <!-- Party -->
  <xsd:complexType name="PartyType">
    <xsd:sequence>
      <xsd:element ref="cac:PartyName" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element ref="cac:PartyTaxScheme" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Party" type="cac:PartyType"/>

  <!-- SupplierParty -->
  <xsd:complexType name="SupplierPartyType">
    <xsd:sequence>
      <xsd:element ref="cac:Party" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="AccountingSupplierParty" type="cac:SupplierPartyType"/>

  <!-- CustomerParty -->
  <xsd:complexType name="CustomerPartyType">
    <xsd:sequence>
      <xsd:element ref="cac:Party" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="AccountingCustomerParty" type="cac:CustomerPartyType"/>

  <!-- LegalMonetaryTotal -->
  <xsd:complexType name="MonetaryTotalType">
    <xsd:sequence>
      <xsd:element ref="cbc:LineExtensionAmount" minOccurs="0"/>
      <xsd:element ref="cbc:TaxExclusiveAmount" minOccurs="0"/>
      <xsd:element ref="cbc:TaxInclusiveAmount" minOccurs="0"/>
      <xsd:element ref="cbc:PayableAmount" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="LegalMonetaryTotal" type="cac:MonetaryTotalType"/>

</xsd:schema>
